{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename = 'home.js') }}"
></script>

<script>
    let data = {{data|tojson}}
</script>
<div class="home">
    <span class="playfair home-title">Learn Classical Music Eras</span>
    <p>Identify classical music by period!</p>
    <br />
    <div class="row center">
        <div id="period-buttons">
            <button class="period-button" id="medieval">Medieval</button>
            <button class="period-button" id="baroque">Baroque</button>
            <button class="period-button" id="romantic">Romantic</button>
            <br />
            <button class="period-button" id="renaissance">Renaissance</button>
            <button class="period-button" id="classical">Classical</button>
            <button class="period-button" id="century">20th Century</button>
        </div>
    </div>
    <div class="home-buttons">
        <div class="button-cards">
            <img
                src="https://tarangkd2113.github.io/ui-project-resources/home_page_learning.jpg"
            />
            <br /><br />
            <button id="startButton" class="home-button">
                <span class="home-button-text">Start Learning</span>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="button-cards">
            <img
                src="https://tarangkd2113.github.io/ui-project-resources/home_page_quiz.png"
            />
            <br /><br />
            <button id="quizButton" class="home-button">
                <span class="home-button-text">Try the Quiz</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}
