{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename = 'home.js') }}"
></script>

<script>
    let data = {{data|tojson}}
</script>
<div class="home">
    <span class="playfair home-title">Learn Classical Music Eras</span>
    <p>Identify classical music by period!</p>
    <br>
    <table class="music-eras-table playfair">
        <tbody>
            <tr>
                <td>Medieval</td>
                <td>Baroque</td>
                <td>Romantic</td>
            </tr>
            <tr>
                <td>Renaissance</td>
                <td>Classical</td>
                <td>20th Century</td>
            </tr>
        </tbody>
    </table>
    <div class="home-buttons">
        <div class="button-cards">
            <img src="https://tarangkd2113.github.io/ui-project-resources/home_page_learning.jpg">
            <br><br>
            <button id="startButton" class="home-button"><span class="home-button-text">Start Learning</span></button>
        </div>
        <div class="spacer"></div>
        <div class="button-cards">
            <img src="https://tarangkd2113.github.io/ui-project-resources/home_page_quiz.png">
            <br><br>
            <button id="quizButton" class="home-button"><span class="home-button-text">Quiz</span></button>
        </div>
    </div>
</div>

{% endblock %}
