{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename = 'learn.js') }}"
></script>

<script>
    let id = {{id|tojson}}
    let data = {{data|tojson}}
</script>

<div id="learn-container" class="container-fluid">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div id="learn-title" class="playfair home-title"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div id="audioFiles"></div>
                </div>

                <div class="col-md-3 mx-auto">
                    <div class="home-buttons">
                        <div class="button-cards">
                            <img
                                src="https://tarangkd2113.github.io/ui-project-resources/home_page_learning.jpg"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row center">
        <div id="learn-buttons"></div>
    </div>
    <div class="row center">
        <button id="learn-next" class="red-button">Next Period</button>
    </div>
</div>

{% endblock %}
