{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename = 'learn_end.js') }}"
></script>

<div id="learn-end-container" class="container text-center">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div id="learn-title" class="playfair home-title">
                Learning Module Completed
            </div>
            <div class="subtitle">Congratulations!</div>
        </div>
    </div>
    <div class="row learn-end-options">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="subtitle">Review one of the periods:</div>
                    <br />
                    <div id="reviewOptions">
                        <a class="quiz-button" href="/learn/1">
                            <span class="home-button-text">Medieval </span>
                        </a>
                        <a class="quiz-button" href="/learn/2">
                            <span class="home-button-text">Renaissance </span>
                        </a>
                        <a class="quiz-button" href="/learn/3">
                            <span class="home-button-text">Baroque </span>
                        </a>
                        <a class="quiz-button" href="/learn/4">
                            <span class="home-button-text">Classical </span>
                        </a>
                        <a class="quiz-button" href="/learn/5">
                            <span class="home-button-text">Romantic </span>
                        </a>
                        <a class="quiz-button" href="/learn/6">
                            <span class="home-button-text">20th Century </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="home-buttons">
                        <div class="button-cards">
                            <img
                                src="https://tarangkd2113.github.io/ui-project-resources/home_page_quiz.png"
                            />
                            <br /><br />
                            <button id="quizButton" class="home-button">
                                <span class="home-button-text"
                                    >Try the Quiz</span
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
        <a href="/learn/1" class="btn btn-secondary"
            >Review Learning Material</a
        >
    </div> -->
</div>
{% endblock %}
