{% extends "layout.html" %} {% block content %}
<div class="container text-center">
  <h1>Quiz Completed</h1>
  <p>Your final score is: {{ score }}</p>
  {% if incorrect_questions %}
  <h2>Review Incorrect Answers</h2>
  <div class="mt-4">
    {% for question in incorrect_questions %}
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        <audio controls>
          <source src="{{ question.audio }}" type="audio/wav" />
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="col-md-2">
        <a href="{{ question.learn_more_url }}" class="btn btn-info"
          >Learn More</a
        >
      </div>
    </div>
    <hr />
    {% endfor %}
  </div>
  {% endif %}
  <div class="mt-4">
    <a href="/" class="btn btn-primary">Go to Main Page</a>
    <a href="/restart_quiz" class="btn btn-secondary">Retake Quiz</a>
  </div>
</div>
{% endblock %}
