{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz.js') }}"
></script>

<script>
  let id = {{id|tojson}}
  let data = {{data|tojson}}
</script>

<div id="quiz-container" class="container-fluid">
  <div class="d-flex justify-content-center">
    <h1>Quiz - Comparison</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3 text-center">a</div>
    <div class="col-3 text-center">b</div>
    <div class="col-3 text-center">c</div>
  </div>

  <button></button>
</div>

{% endblock %}
